src/test/resources/projects/xew-test/staticfiles/definition/do/AddressDO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by customer AG (customer AG) -->
<!-- Mit XMLSpy v2013 (http://www.altova.com) von Siegfried Ertl (customer AG) 
	bearbeitet -->
<!-- $Id: AddressDO.xsd 45410 2014-03-11 13:58:47Z qxe3031 $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="https://jakarta.ee/xml/ns/jaxb" xmlns:enh="http://customer.com/gcdm/controller/v3/model" xmlns:enum="http://customer.com/gcdm/controller/v3/model/businessPartner/enums" xmlns:ns1="http://customer.com/gcdm/controller/v3/model/businessPartner" targetNamespace="http://customer.com/gcdm/controller/v3/model/businessPartner" elementFormDefault="qualified" attributeFormDefault="unqualified" jxb:version="2.1">
	<xs:import namespace="http://customer.com/gcdm/controller/v3/model" schemaLocation="enhancements/ExtensionDO.xsd"/>
	<xs:import namespace="http://customer.com/gcdm/controller/v3/model" schemaLocation="types/UtilityTypes.xsd"/>
	<xs:import namespace="http://customer.com/gcdm/controller/v3/model/businessPartner/enums" schemaLocation="../valueLists/EnumsBusinessPartner.xsd"/>
	<xs:complexType name="address">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>User address data within common GCDM interface
						structure
						@jsonEntity @mdm.partialUpdate
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="delete" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Only update: if true this existing entity is to be
								deleted.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressChecked" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Result of address check with Address validation Service (TRUE = checked and valid; FALSE = checked and not valid; NULL = Not Checked)
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressGUID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Technical ID number used to determine an entry in a list of similar items (used for update and deletion of the item). This guid is globally unique and is only generated by GCDM.
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="careOfName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The C/O name of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="street" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The street name of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="strSuppl1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The street name supplement 1 of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="strSuppl2" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The street name supplement 2 of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="strSuppl3" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The street name supplement 3 of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="location" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The location of the address</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Street type three letter Code.
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseNumber" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Number of house in a street address, including the A,B,C etc. suffix
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="additionalHouseID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Second part of a house number (e.g. the subdivision or Mailbox Number.)
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="buildingID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The building number or code of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="floorID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The floor number of the building of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="roomID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The room or apartment number of the building of the
								address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postalCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The postal code of the address. There is syntactic validation of the postal
								code (e.g. length) for most markets, but not all (e.g. no validation for NL) .
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postOfficeBox" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The post office box number of the address
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="city" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The location (administrative entity)
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="districtName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Part of a large city
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="country" type="enh:countryType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>The 2-alpha ISO-3166 country code of the legal administrative entity
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Legal or geographical substructure in a country (State, Province, County) 
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiverLastName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Family name of addressee, used if address is not belonging to the business partner
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="receiverFirstName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Given name of addressee, used if address is not belonging to the business partner
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="companyName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="companyDepartment" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="addressStatus" type="enum:AddressStatusList" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>To differentiate "Private" or "Business" use
							@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferred" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Indicates if this address is the standard communication address. 
							The standard communication address is used use per default by the customer Group when contacting the customer per letter. 
							There can be only a single standard communication address per business partner.
							If multiple addresses are marked as preferred in a request, a validation
							exception occurs. Upon updating a business partner with sending an address with preferred set to true, 
							an eventually existing preferred address is changed so preferred is set to false.   
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="shipment" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Specifies whether it is a Business Partner’s shipment address (shipment=true).
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="invoice" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Specifies whether it is a Business Partner’s invoice address (invoice=true).
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="customExtension" type="enh:extension" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>
								@mdm.stored
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
